body {
  font-family: sans-serif;
  color: #ffffff;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 70px;
}

p {
  text-align: center;
}

.stranka {
  display: flex;
  flex-direction: column;
  margin: 10% 25% 30% 25%;
  background-color: #283e50;
}

img {
  flex-shrink: 0;
  width: 100%;
}

.obrazek {
  flex-basis: 30px;
  background-image: url(uvodni.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.text {
  size: 18px;
}

.menu .cudlik {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  text-align: center;
  flex-basis: 100%;
  margin: 1px 0 0 0;
}

.menu .pravidla {
  background-color: #1fcca4;
  color: #ffffff;
}

.menu .pravidla:hover,
.menu .pravidla:focus,
.menu .pravidla:active {
  background-color: #1cbb96;
}

.menu .hrat {
  background-color: #0197f6;
  color: #ffffff;
}

.menu .hrat:hover,
.menu .hrat:focus,
.menu .hrat:active {
  background-color: #0090e9;
}
