body {
  font-family: sans-serif;
  color: #ffffff;
  background: linear-gradient(#615dad, #ffc8da) fixed;
  background-size: cover;
  min-height: 100%;
  }

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 40px;
  flex-shrink: 1;
  margin: 30px 0;
}

p {
  text-align: center;
}

.stranka {
  display: flex;
  flex-direction: column;
  width: 340px;
  background-color: #283e50;
}

.uvodni {
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stranka--pravidla {
  border-radius: 7px 7px 0 0;
  margin: 0 auto;
}

img {
  width: 100%;

}

.obrazek {
  flex-basis: 30px;
  background-image: url(uvodni.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.text {
  size: 18px;
  margin: 0 15px 10px 15px;
}

.menu .cudlik {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  text-align: center;
  flex-basis: 100%;
  margin: 1px 0 0 0;
}

.menu .pravidla,
.menu .index,
.domu {
  background-color: #1fcca4;
  color: #ffffff;
}

.menu .pravidla:hover,
.menu .pravidla:focus,
.menu .pravidla:active,
.menu .index:hover,
.menu .index:focus,
.menu .index:active,
.domu:hover,
.domu:focus,
.domu:active {
  background-color: #1cbb96;
}

.menu .hrat,
.restart {
  background-color: #0197f6;
  color: #ffffff;
}

.menu .hrat:hover,
.menu .hrat:focus,
.menu .hrat:active,
.restart:hover,
.restart:focus,
.restart:active {
  background-color: #0090e9;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-bottom: 5px;
}

.text--cislovany li {
  margin: 0 15px 15px 15px;
}

.kolecko,
.krizek {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}

.trans_bila {
  filter: invert(100%);
}

figure {
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  flex-grow: 1;
}


@media screen and (min-width: 800px) {
  .stranka--pravidla {
    width: 630px;
  }

  figure {
    width: 43%;
  }

  .pravidla--instrukce {
    display: flex;
    flex-wrap: wrap;
  }

  figcaption {
    font-size: 12px;
  }
}

/* hra */

.hra {
  width: 80vmin;
  margin: 20px;
}

#nadpis--hra {
  font-size: 65px;
}

.menu--hra ul{
  list-style-type: none;
  display: flex;
   padding: 0;
  }

  .hraje {
    flex-basis: 45vw;
    flex-grow: 1;
    font-weight: 700;
    font-size: 25px;
   }

  .hraje a {
    margin: auto;
    width: 10%;
  }

.menu--hra li {
  margin: 5px;
  flex-basis: 40px;
  border-radius: 5px;
}

.menu--hra img {
  width: 26px;
  margin: 7px;
}

.pole {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
 }

.pole button {
  background-color: rgba(245, 245, 245, 0.5);
  width: 10%;
  padding: 0;
  border-width: .5px;
  border-color: black;
}

.pole button:hover,
.pole button:active,
.pole button:focus {
  background-color: rgba(245, 245, 245, 0.7);
}

