body {
  font-family: sans-serif;
  color: #ffffff;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: inherit;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 70px;
}

p {
  text-align: center;
}

.stranka {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 25% 30% 25%;
}

.box {
  flex-basis: 30%;
}
